/* General */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
html{ 
    height: 100%;
  }
  
  *{ 
    margin: 0;
    padding: 0;
  }
  
  body{
    font-family: Helvetica,Arial, sans-serif;
    font-size: 1em;
    background: #ffffff;
    color: #555555;}
  
  p{ 
    padding: 0 0 20px 0;
    line-height: 1.7em;
  }
  
  img{ 
    border: 0;
  }
  
  h1, h2, h3, h4, h5, h6 { 
    color: #362C20;
    letter-spacing: 0em;
    padding: 0 0 5px 0;}
  
  h1, h2, h3{ 
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
    color: #000;
  }
  
  h2{ 
    font-size: 160%;
    padding: 9px 0 5px 0;
    color: #B48A7C;
  }
  
  h3{ 
    font-size: 140%;
    padding: 5px 0 0 0;
  }
  
  h4, h6 { color: #B48A7C;
    padding: 0 0 5px 0;
    font: normal 110% arial;
    text-transform: uppercase;
  }
  
  h5, h6 { 
    color: #888;
    font: normal 95% arial;
    letter-spacing: normal;
    padding: 0 0 15px 0;
  }
  
  a, a:hover { 
    outline: none;
    text-decoration: underline;
    color: #B48A7C;
  }
  
  a:hover { 
    text-decoration: none;
    color: #5E4238;
  }
  
  ul { 
    margin: 2px 0 22px 17px;
  }
  
  ul li{ 
    list-style-type: circle;
    margin: 0 0 6px 0; 
    padding: 0 0 4px 5px;
    line-height: 1.5em;
  }
  
  ol { 
    margin: 8px 0 22px 20px;
  }
  
  ol li { 
    margin: 0 0 11px 0;
  }
  
  .left { 
    float: left;
    width: auto;
    margin-right: 10px;
  }
  
  .right { 
    float: right; 
    width: auto;
    margin-left: 10px;
  }
  
  .center { 
    display: block;
    text-align: center;
    margin: 20px auto;
  }
  
  #main, #logo, #menubar, #site_content, #footer{ 
    margin-left: auto; 
    margin-right: auto;
  }
  
  /* HEADER */
  #header
  { 
    background-image: url(/Proiect/assets/css/images/header.jpg);
    background-size: cover;
    border-bottom: 1px solid #3d3d3d;
    height: 250px;
  }
    
  #logo{ 
    width: 100%;
    max-width: 1000px;
    position: relative;
    height: 205px;
    background: rgba(29, 29, 29, 0.65);
  }
  
  #logo #logo_text { 
    position: absolute; 
    top: 10px;
    left: 0;
  }
  
  #logo h1, #logo h2 { 
    border-bottom: 0;
    text-transform:capitalize;
    margin: 0 0 0 9px;
  }
  
  #logo_text h1, #logo_text h1 a, #logo_text h1 a:hover { 
    padding: 22px 0 0 0;
    color: #ffffff;
    letter-spacing: 0.1em;
    text-decoration: none;
  }
  
  #logo_text h1 a .logo_colour { 
    color: #f54709;
  }
  
  #logo_text a:hover .logo_colour { 
    /* color: #5E4238; */
    color: #ffffff;
  }
  
  #logo_text h2
  { font-size: 120%;
    padding: 4px 0 0 0;
    color: #B48A7C;
  }
  
    /* MENIU */
  #menubar{ 
    position: relative;
    width: 100%;
    max-width: 872px;
    height: 45px;
    background: #2d2d2d;
    border-top: 1px solid #3d3d3d;
  } 
  
  ul#menu
  { float: right;
    margin: 0;}
  
  ul#menu li
  { float: left;
    padding: 0 0 0 9px;
    list-style: none;
    margin: 8px 4px 0 4px;}
  
  ul#menu li a
  { 
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Dancing Script', cursive;
    display: block; 
    float: left; 
    height: 20px;
    padding: 6px 20px 5px 20px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    background: #5E4238;} 
  
  ul#menu li.selected a
  { height: 20px;
    padding: 6px 20px 5px 11px;}
  
  ul#menu li.selected
  { margin: 8px 4px 0 13px;
    background: #B48A7C;}
  
  ul#menu li.selected a, ul#menu li.selected a:hover
  { background: #B48A7C;
    color: #ffffff;}
  
  ul#menu li a:hover
  { color: #B48A7C;}
  
  /* BANNER */
  #banner{  
    /* background: transparent url(../images/banner.png) no-repeat; */
    background-image: url(/Proiect/assets/css/images/banner.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    max-width: 980px;
    height: 180px;
    margin-bottom: 20px;
    border: 10px double #5E4238;
    /* border-style: double; */
  }
  
  
  /* MAIN */
  #site_content{ 
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
    margin: 20px auto 0 auto;
    padding: 0 0 10px 0;
  } 
  
  

  #content {
    text-align: left;
    width: 100%;
    max-width: 768px;
    padding: 0 0 0 5px;
    float: left;
    border: 1px red dotted;
  }
    
  #content ul
  { margin: 2px 0 22px 0px;}
  
  #content ul li, .sidebar ul li
  { list-style-type: none;
    background: url(/Proiect/assets/css/images/bullet.png) no-repeat;
    margin: 0 0 0 0; 
    padding: 0 0 4px 25px;
    line-height: 1.5em;}
  
    #sidebar_container{ 
      float: right;
      width: 100%;
      max-width: 220px;
      border: 1px red dotted;
    }
    
    .row{
      width: 30%;
      float: left;
      padding: 0px 5px;
    }
    .col-4 > img {
      width: 100%;
  }
    
    
    .sidebar { 
      float: right;
      width: 100%;
      padding: 0;
      margin: 0 0 16px 0;
     
    }
    
    
    .sidebar li a.selected
    { color: #444;} 
    
    .sidebar ul
    { margin: 0;} 
    
  
    /* FOOTER */
  #footer
  { width: 100%;
    font-family: 'trebuchet ms', sans-serif;
    font-size: 100%;
    height: 80px;
    padding: 28px 0 5px 0;
    text-align: center; 
    background: #000;
    border-top: 2px solid #2D2D2D;
    color: #ffffff;}
  
  #footer p
  { line-height: 1.7em;
    padding: 0 0 10px 0;}
  
  #footer a
  { color: #ffffff;
    text-decoration: none;}
  
  #footer a:hover
  { color: #B48A7C;
    text-decoration: none;}
  
  .search
  { color: #5D5D5D; 
    border: 1px solid #BBB; 
    width: 134px; 
    padding: 4px; 
    font: 100% arial, sans-serif;}
  
  .form_settings
  { margin: 15px 0 0 0;}
  
  .form_settings p
  { padding: 0 0 4px 0;}
  
  .form_settings span
  { float: left; 
    width: 200px; 
    text-align: left;}
    
  .form_settings input, .form_settings textarea
  { padding: 5px; 
    width: 299px; 
    font: 100% arial; 
    border: 1px solid #E5E5DB; 
    background: #ffffff; 
    color: #47433F;}
    
  .form_settings .submit
  { font: 100% arial; 
    border: 0; 
    width: 99px; 
    margin: 0 0 0 212px; 
    height: 33px;
    padding: 2px 0 3px 0;
    cursor: pointer; 
    background: #3B3B3B; 
    color: #ffffff;}
  
  .form_settings textarea, .form_settings select
  { font: 100% arial; 
    width: 299px;}
  
  .form_settings select
  { width: 310px;}
  
  .form_settings .checkbox
  { margin: 4px 0; 
    padding: 0; 
    width: 14px;
    border: 0;
    background: none;}
  
  .separator
  { width: 100%;
    height: 0;
    border-top: 1px solid #D9D5CF;
    border-bottom: 1px solid #ffffff;
    margin: 0 0 20px 0;}
    
  table
  { margin: 10px 0 30px 0;}
  
  table tr th, table tr td
  { background: #3B3B3B;
    color: #ffffff;
    padding: 7px 4px;
    text-align: left;}
    
  table tr td
  { background: #E5E5DB;
    color: #47433F;
    border-top: 1px solid #ffffff;}
#mituri{
  font-size: 300%;
}
#mituricafea{
  margin: 100px;
}
body {
  margin: 0;
  padding: 0;
  /* background-color: hsl(0, 0%, 95%); */
}
.containercafa {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5% 14%;
  
}
.rowcafa {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background-color: hsl(0, 0%, 95%);
  padding: 10% 15%;
}
.coi {
  width: 33.33%;
  padding: 8% 6%;
  box-sizing: border-box;
}
.schema1 {
  background-color: hsl(31, 77%, 52%);
  padding: 17% 10%;
  width: 100%;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.h2cafa {
  font-family: "Big Shoulders Display",sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: hsl(0, 0%, 95%);
  margin: 0;
  padding: 20px 0;
}
.pcafa {
  font-family: "Lexend Deca",sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  line-height: 22px;
  padding-bottom: 80px;
  margin-top: 0px
}
.acafa {
  background-color: #fff;
  padding: 15px 25px;
  border-radius: 24px;
  text-decoration: none;
  font-family: "Lexend Deca",sans-serif;
  font-weight: 400;
  border: 1px solid;
  border-color: hsl(0, 0%, 95%);
}
.schemat {
  background-color: hsl(184, 100%, 22%);
  padding: 17% 10%;
  width: 100%;
}

.schemak {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 17% 10%;
  width: 100%;
}
.schema1 a {
  color: hsl(31, 77%, 52%);
}
.p-b-100 {
  padding-bottom: 100px;
}
.p-t-130 {
  padding-top: 130px;
}
.bg-gra-02 {
  background: -webkit-gradient(linear,left bottom,right top,from(#fc2c77),to(#6c4079));
  background: -webkit-linear-gradient(bottom left,#fc2c77 0%,#6c4079 100%);
  background: -moz-linear-gradient(bottom left,#fc2c77 0%,#6c4079 100%);
  background: -o-linear-gradient(bottom left,#fc2c77 0%,#6c4079 100%);
  background: linear-gradient(to top right,#fc2c77 0%,#6c4079 100%);
}
.page-wrapper {
  min-height: 100vh;
}
.font-poppins {
  font-family: poppins,arial,helvetica neue,sans-serif;
}
.wrapper--w680 {
  max-width: 680px;
  margin: 0 auto;

}
.card-4 {
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 8px 20px 0 rgb(0 0 0 / 15%);
  -moz-box-shadow: 0 8px 20px 0 rgba(0,0,0,.15);
  box-shadow: 0 8px 20px 0 rgb(0 0 0 / 15%);
}
.card {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}
.card-4 .card-body {
  max-width: 767px;
  padding: 50px 40px;
  padding: 57px 65px;
    padding-bottom: 65px;
}
.title {
  display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  font-size: 24px;
  color: #525252;
  font-weight: 400;
  margin-bottom: 40px;
}
.row-space {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.rou {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}
.col-2 {
  width: 100%;
  width: -webkit-calc((100% - 30px)/2);
  width: -moz-calc((100% - 30px)/2);
  width: calc((100% - 30px)/2);
}
.label {
  font-size: 16px;
  color: #555;
  text-transform: capitalize;
  display: block;
  margin-bottom: 5px;
}
.input--style-4 {
  line-height: 50px;
  background: #fafafa;
  -webkit-box-shadow: inset 0 1px 3px 0 rgb(0 0 0 / 8%);
  -moz-box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.08);
  box-shadow: inset 0 1px 3px 0 rgb(0 0 0 / 8%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 16px;
  color: #666;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  -moz-transition: all .4s ease;
  transition: all .4s ease;
}
input {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;

}
.input-group {
  position: relative;
  margin-bottom: 22px;
}
.p-t-15 {
  padding-top: 15px;
}
.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
.rs-select2 .select2-container .select2-selection--single {
  outline: none;
  border: none;
  height: 50px;
  background: 0 0;
}
.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
}
.rs-select2 .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 50px;
  padding-left: 0;
  color: #555;
  font-size: 16px;
  font-family: inherit;
  padding-left: 22px;
  padding-right: 50px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
select {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  cursor: default;
}
.rs-select2 .select2-container {
  width: 100%!important;
  outline: none;
  background: #fafafa;
  -webkit-box-shadow: inset 0 1px 3px 0 rgb(0 0 0 / 8%);
  -moz-box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.08);
  box-shadow: inset 0 1px 3px 0 rgb(0 0 0 / 8%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 28px;
  user-select: none;
  -webkit-user-select: none;
}
.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}
.btn--blue {
  background: #4272d7;
}
.btn--radius-2 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn {
  display: inline-block;
  line-height: 50px;
  padding: 0 50px;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  -moz-transition: all .4s ease;
  transition: all .4s ease;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  font-family: poppins,arial,helvetica neue,sans-serif;
}