p{
    color: green;
<<<<<<< HEAD
<<<<<<< HEAD
}
=======

}

>>>>>>> 516f83e (curs2/)
=======

}

>>>>>>> 516f83e0df9bc8236a6dd14dcc49c3ee63204c9c
#primulp{
    color: red;
}
.pblue{
    color: blue;
}
.pfont{
    font-size: 35px;
<<<<<<< HEAD
<<<<<<< HEAD
    color: coral;
}
div p{
    color: darkcyan;
=======
>>>>>>> 516f83e (curs2/)
=======
>>>>>>> 516f83e0df9bc8236a6dd14dcc49c3ee63204c9c
}