p{
    color: green;
<<<<<<< HEAD
}
=======

}

>>>>>>> 516f83e (curs2/)
#primulp{
    color: red;
}
.pblue{
    color: blue;
}
.pfont{
    font-size: 35px;
<<<<<<< HEAD
    color: coral;
}
div p{
    color: darkcyan;
=======
>>>>>>> 516f83e (curs2/)
}