<<<<<<< HEAD
<<<<<<< HEAD
div{
    width: 100%;
    max-width: 350px;
    height: auto;
    margin: 30px;
    border: 20px orange solid;
    padding: 10px;
    float: right;
    text-align: center;
    background-color: darkkhaki;

=======
=======
>>>>>>> 516f83e0df9bc8236a6dd14dcc49c3ee63204c9c
p{
    color: red;
    font-size: 40;
    font-weight: bold;

    height: auto;
    width: 100%;
    max-width: 400;

    border: 5px red solid;
    background-color: blueviolet;
    float: left;
    margin: 25px;
    padding: 10px 20px 25px;
}
#Mafia{
    color: green;
}
.blue{
    color: chocolate;
<<<<<<< HEAD
>>>>>>> 516f83e (curs2/)
=======
>>>>>>> 516f83e0df9bc8236a6dd14dcc49c3ee63204c9c
}