p{
    color: red;
    font-weight: bold;
}
p:hover{
    color: blue;
}
<<<<<<< HEAD
h1 {
    font-size: 30px;
=======
h1{
    font-size: 12px;
}

#demo{
    color: aqua;
}
#demo:hover{
    color: coral;
>>>>>>> 516f83e (curs2/)
}