p{
    color: red;
    font-weight: bold;
}
p:hover{
    color: blue;
}
<<<<<<< HEAD
<<<<<<< HEAD
h1 {
    font-size: 30px;
=======
=======
>>>>>>> 516f83e0df9bc8236a6dd14dcc49c3ee63204c9c
h1{
    font-size: 12px;
}

#demo{
    color: aqua;
}
#demo:hover{
    color: coral;
<<<<<<< HEAD
>>>>>>> 516f83e (curs2/)
=======
>>>>>>> 516f83e0df9bc8236a6dd14dcc49c3ee63204c9c
}